//COLORS

$color-white: #fff;
$color-black: #000;

$color-very-dark-blue: hsl(212, 27%, 19%);
$color-dark-greyish-blue:  hsl(232, 10%, 55%);
$color-very-dark-greyish-blue:  hsl(213, 9%, 39%);
$grayish-blue: hsl(210, 4%, 67%);
$color-light-yellow: hsl(345, 100%, 99%); 
$color-soft-red: hsl(7, 99%, 70%);
// $color-yellow: hsl(51, 100%, 49%);
$color-yellow: hsl(44, 96%, 53%);
$color-desaturated-cyan:  hsl(167, 40%, 24%);
$color-dark-blue: hsl(198, 62%, 26%);
$color-dark-moderate-cyan: hsl(168, 34%, 41%);
$color-light-moderate-cyan: hsl(166, 38%, 70%);


//GRIDS
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;
$gutter-horizontal-small: 1.5rem;


//FONTS
$default-font-size:  1.6rem;